<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ucas.android2">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.MainActivity3"></activity>
        <activity android:name=".activities.ErrorsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".services.MusicPlayerService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".activities.MusicPlayerActivity"></activity>
        <activity android:name=".activities.TestMyServiceActivity" />

        <service
            android:name=".services.MyService"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name=".receivers.SmsReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receivers.MyReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.ibrahim.alwadiya.CUSTEM_ACTION" />
            </intent-filter>
        </receiver>

        <activity android:name=".activities.BroadcastReceiverActivity" />
        <activity android:name=".activities.MultipleItemsActivity" />
        <activity android:name=".activities.ImageGridLayoutManagerActivity" />
        <activity android:name=".activities.RecyclerViewActivity" />
        <activity android:name=".activities.MainActivity2" />
        <activity android:name=".activities.MainActivity" />
    </application>

</manifest>